:root {
    --bg: #011140; /* oxford blue */
    --text: #E0E0E0; /* gray - main text */
    --main: #466C8C; /* steel blue - font headings, buttons, active */
    --hover: #F2937E; /* salmon - contact, view project, hover */
    --border: #D96B62; /* burnt sienna - subheadings, borders */
    --label: #A65656; /* brick red - tags, labels, icons */
}
.project-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* wrap icons on smaller screens */
    padding: 1rem;
}
.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    align-items: center;
}

.tooltip::after {
    content: attr(data-tooltip);
    font-size: .75rem;
    white-space: nowrap;
    position: absolute;
    bottom: 100%; /* tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--label);
    color: var(--text);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    /*pointer-events: none;*/
    transition: opacity 0.3s;
}
.tooltip:hover::after {
    opacity: 1;
}
.tooltip i {
    padding: .5rem;
    color: var(--main);
}