/* the icons.css file contains global styles for icons */

a i { /* changes ALL icons */
    font-size: 2rem;
    border-radius: 2rem;
}

a i:hover { /* changes ALL icons color on hover */
    transition: font-size ease-in 200ms 2ms;
    font-size: 3rem;
    margin: .25rem;
}

