/* the index.css file contains all styles for the landing page */

header { /* container for landing page */
    height: 100vh; /* landing page takes up screen */
    display: flex; /* next four center the contents of the header*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    margin: 1rem;
    border: 0.5rem solid var(--heading);
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow ease-in 200ms 2ms;
    perspective: 1000px;
    position: relative;
}

#image { /* moves image and adjusts for size */
    width: 200px;
    height: auto;
    transform: translate(-5px, 20px);
}

.flip {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: absolute;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
    text-align: center;
    background-color: var(--hover);
}


ul { /* container for social icons */
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
}

li { /* container for each of social icon */
    padding: .5rem;
    margin: 0;
}

.social { /* social icons only */
    color: var(--button);
}

.social:hover {
    color: var(--label);
}

