header {
    height: 100vh; /* landing page takes up screen */
    display: flex; /* next four center the contents of the header*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image-container { /* checked and verified */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.9rem;
    height: 13rem;
    margin: 1rem;
    border: 0.5rem solid var(--heading);
    border-radius: 50%;
    overflow: hidden;
}
#image { /* moves my img and adjusts for size */
    width: 200px;
    height: auto;
    transform: translate(-5px, 20px);
}
header ul { /* container for social icons */
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
header li { /* adjusts the social icons */
    font-size: 2.5rem;
    padding: 1rem;
}
a i:hover { /* changes icon color on hover */
    color: var(--hover);
}

footer {
    padding-top: 1.5rem;
    text-align: center;
}