header { /* landing page */
    height: 100vh; /* landing page takes up screen */
    display: flex; /* next four center the contents of the header*/
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-container { /* container holding my picture */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.9rem;
    height: 13rem;
    margin: 1rem;
    border: 0.5rem solid var(--heading);
    border-radius: 50%;
    overflow: hidden;
    transition: box-shadow ease-in 200ms 2ms;
}

#image { /* moves my image and adjusts for size */
    width: 200px;
    height: auto;
    transform: translate(-5px, 20px);
}

.image-container:hover {
    box-shadow: 0 0 5rem rgba(217, 107, 98, 1);
}

/*@media (max-width: 760px) {*/
/*    main {*/
/*        height: auto;*/
/*    }*/

/*    .grid-container {*/
/*        max-width: 500px; !* maximum width of the grid *!*/
/*        grid-gap: 1rem 1rem;*/
/*    }*/

/*    article { !* project card *!*/
/*        height: auto;; !* maximum height of the card *!*/
/*        width: 25rem; !* maximum height of the card *!*/
/*    }*/

/*    h3 { !* project name *!*/
/*        font-size: 1rem;*/
/*        font-weight: 600;*/
/*        text-align: center;*/
/*    }*/

/*    p {*/
/*        font-size: 1rem;*/
/*    }*/

/*    .label {*/
/*        gap: 0.25rem; !* creates a gap between rows *!*/
/*        padding: .1rem .4rem;*/
/*    }*/
/*}*/


