/* This file contains the basic styles that are applied to all pages on the website, such as font styles, link styles, and background colors. */
:root {
  --darkb: #1A237E;
  --lightb: #3F51B5;
  --darkg: #212121;
  --lightg: #F5F5F5;
  --white: #FFF;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  background-color: var(--lightg);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", "Poppins", sans-serif;
  color: var(--darkg)
}
