main {
    height: auto; /* project section takes up screen */
    display: flex; /* next four center the contents */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* card container styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem 2.5rem;
    max-width: 850px; /* maximum width of the grid */
}

.label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* creates a gap between rows */
    padding: 1rem 1rem;
    justify-content: flex-start;
}
.label span {
    border-radius: 5rem;
    background-color: var(--label);
    font-size: .75rem;
    height: 2rem;
    padding: 0.5rem;
    min-width: auto;
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    line-height: 1rem; /* vertically center the text */
    text-align: center; /* horizontally center the text */
}

@media (max-width: 760px) {
    main {
        height: auto;
    }
    .grid-container {
        max-width: 500px; /* maximum width of the grid */
        grid-gap: 1rem 1rem;
    }
    article { /* project card */
        height: auto;; /* maximum height of the card */
        width: 25rem; /* maximum height of the card */
    }

    h3 { /* project name */
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
    }
    p {
        font-size: 1rem;
    }
    .label {
        gap: 0.25rem; /* creates a gap between rows */
        padding: .1rem .4rem;
    }
}
