/* card container styles */
main {
    height: 100vh; /* project section takes up screen */
    display: flex; /* next four center the contents */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h2 { /* project section title */
    font-family: var(--headerfont);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .25rem;
}

.project-grid {
    display: flex;
    justify-content: center;
    width:100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem 2.5rem;
    max-width: 800px; /* maximum width of the grid */
    width: 100%;
    justify-content: center;
}

/* card styles */
article {
    border: .25rem solid var(--heading);
    border-radius: 25px;
    max-height: 400px; /* maximum height of the card */
    /*margin: 1rem;*/
}

section {
    /* empty */
}

h3 { /* project name */
    font-family: var(--bodyfont);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

p { /* project descriptions */
    padding: .25rem;
}

a { /* project links */
    text-decoration: none;
    color: var(--button);
}

a:hover { /* project links - hover */
    color: var(--hover);
}

.label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* creates a gap between rows */
    padding: 1rem 1rem;
    justify-content: flex-start;
}
.label span {
    border-radius: 5rem;
    background-color: var(--label);
    font-size: 1rem;
    height: 2rem;
    padding: 0.5rem;
    min-width: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1rem; /* vertically center the text */
    text-align: center; /* horizontally center the text */
}

@media (max-width: 760px) {
    .grid-container {
        max-width: 400px; /* maximum width of the grid */

    }
}
