main { /* main container - projects */
    height: 100vh; /* project section takes up screen */
    display: flex; /* next four center the contents */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* card container styles */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px; /* maximum width of the grid */
    margin-left: auto;
    margin-right: auto;

    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
    /*grid-gap: 2.5rem 2.5rem;*/
    /*max-width: 850px; !* maximum width of the grid *!*/
}

article { /* project card */
    background-color: var(--button);
    border: dashed .2rem var(--heading);
    border-radius: 2rem;
    height: auto; /* maximum height of the card */
    width: 20rem; /* maximum height of the card */
    display: flex;
    flex-direction: column;
    margin: .25rem;

}

p { /* project descriptions */
    padding: 0 1rem;
}


.label { /* project label container */
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* creates a gap between rows */
    padding: .5rem .5rem;
    justify-content: flex-start;
}

.label span { /* project labels */
    background-color: var(--background);
    border: .1rem solid var(--heading);
    border-radius: 5rem;
    font-size: .75rem;
    height: 2rem;
    padding: 0.5rem;
    min-width: auto;
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    line-height: 1rem; /* vertically center the text */
    text-align: center; /* horizontally center the text */
}


