:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --background: #011140; /* oxford blue */
    --mainText: #E0E0E0; /* gray - main text */
    --button: #466C8C; /* steel blue - font headings, buttons, active */
    --hover: #F2937E; /* salmon - contact, view project, hover */
    --heading: #D96B62; /* burnt sienna - subheadings, borders */
    --label: #A65656; /* brick red - tags, labels, icons */
}

* {
    margin: 0; /* reset margin and padding */
    padding: 0;
    box-sizing: border-box; /* ensures all elements are border-box */
}

html body {
    min-height: 100%;
    font-size: 18px;
    scroll-behavior: smooth;
    background-color: var(--background);
    font-family: var(--bodyfont);
    color: var(--mainText);
    line-height: 1.6;
}

h1 { /* name */
    font-family: var(--headerfont);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .25rem;
}

h2 { /* project section title */
    font-family: var(--headerfont);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .25rem;
}

h3 { /* project name */
    font-family: var(--bodyfont);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

p { /* project descriptions */
    padding: .25rem;
}

a { /* project links */
    text-decoration: none;
    color: var(--button);
}

a:hover { /* project links - hover */
    color: var(--hover);
}