:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --paragraph: #121629;
    --border: #121629;
    --background: #232946;
    --buttonText: #232946;
    --label: #b8c1ec;
    --mainBackground: #b8c1ec;
    --hover: #eebbc3;
    --cardBackground: #eebbc3;
    --button: #eebbc3;
    --icon: #eebbc3;
    --heading: #fffffe;
}

* {
    margin: 0; /* reset margin and padding */
    padding: 0;
    box-sizing: border-box; /* ensures all elements are border-box */
}

html body {
    min-height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--background);
    font-family: var(--bodyfont);
    color: var(--paragraph);
    line-height: 1.6;
}

h1 { /* name */
    font-family: var(--headerfont);
    color: var(--heading);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .25rem;
    /*padding: 1rem;*/
}

/* card styles */
h2 { /* project section title */
    font-family: var(--bodyfont);
    color: var(--heading);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .25rem;
    padding: 2rem;
}

h3 { /* project name */
    font-family: var(--bodyfont);
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem 0;
}

h4 {
    color: var(--heading);
    font-size: 1rem;
}

footer {
    /*padding-top: 2rem;*/
    text-align: center;
    padding-top: 1rem;
}