/* This file contains styles that are specific to the responsive design of the website, such as media queries and styles for different screen sizes. */

:root {
  --darkb: #1A237E; /* body background, button hover background */
  --lightb: #3F51B5; /* header background, button background */
  --darkg: #212121;  /* footer background */
  --lightg: #F5F5F5; /* main text */
  --white: #FFF; /* accent, button text */
}

